:root {
  // scheme: "iA Dark"
  // author: "iA Inc. (modified by aramisgithub)"
  // see: https://github.com/arzg/base16-ia-scheme
  --base00: #1a1a1a; // ----
  --base01: #303030; // #222222 // ---
  --base02: #1d414d; // --
  --base03: #767676; // -
  --base04: #b8b8b8; // +
  --base05: #cccccc; // ++
  --base06: #e8e8e8; // +++
  --base07: #f8f8f8; // ++++
  --base08: #d88568; // red
  --base09: #d86868; // orange
  --base0A: #b99353; // yellow
  --base0B: #83a471; // green
  --base0C: #7c9cae; // aqua/cyan
  --base0D: #8eccdd; // blue
  --base0E: #b98eb2; // purple
  --base0F: #8b6c37; // brown
}

.highlighter-rouge .highlight, code.highlighter-rouge {
  background-color: var(--base01);
  color: var(--base06);
  font-family: monospace;
}

.highlight {
  pre, code {
    background-color: var(--base01);
    color: var(--base05);
    border: none;
    border-radius: 0;
  }
  .hll { background-color: var(--base00); }
  .c { color: var(--base03) } /* Comment */
  .err { color: var(--base08); background-color: var(--base01) } /* Error */
  .k { color: var(--base0E) } /* Keyword */
  .l { color: var(--base09) } /* Literal */
  .n { color: var(--base05) } /* Name */
  .o { color: var(--base05) } /* Operator */
  .p { color: var(--base08) } /* Punctuation */
  .cm { color: var(--base03) } /* Comment.Multiline */
  .cp { color: var(--base04) } /* Comment.Preproc */
  .c1 { color: var(--base03) } /* Comment.Single */
  .cs { color: var(--base03) } /* Comment.Special */
  .ge { font-style: italic } /* Generic.Emph */
  .gs { font-weight: bold } /* Generic.Strong */
  .kc { color: var(--base0E) } /* Keyword.Constant */
  .kd { color: var(--base0E) } /* Keyword.Declaration */
  .kn { color:var(--base08) } /* Keyword.Namespace */
  .kp { color: var(--base0E) } /* Keyword.Pseudo */
  .kr { color: var(--base0E) } /* Keyword.Reserved */
  .kt { color: var(--base0E) } /* Keyword.Type */
  .ld { color: var(--base0B) } /* Literal.Date */
  .m { color: var(--base09) } /* Literal.Number */
  .s { color: var(--base0B) } /* Literal.String */
  .na { color: var(--base0C) } /* Name.Attribute */
  .nb { color: var(--base0D) } /* Name.Builtin */
  .nc { color: var(--base0A) } /* Name.Class */
  .no { color: var(--base0E) } /* Name.Constant */
  .nd { color: var(--base0A) } /* Name.Decorator */
  .ni { color: var(--base0F) } /* Name.Entity */
  .ne { color: var(--base0A) } /* Name.Exception */
  .nf { color: var(--base0D) } /* Name.Function */
  .nl { color: var(--base0F) } /* Name.Label */
  .nn { color: var(--base0F) } /* Name.Namespace */
  .nx { color: var(--base07) } /* Name.Other */
  .py { color: var(--base0F) } /* Name.Property */
  .nt { color: var(--base0C) } /* Name.Tag */
  .nv { color: var(--base0F) } /* Name.Variable */
  .ow { color: var(--base08) } /* Operator.Word */
  .w { color: var(--base0F) } /* Text.Whitespace */
  .mf { color: var(--base09) } /* Literal.Number.Float */
  .mh { color: var(--base09) } /* Literal.Number.Hex */
  .mi { color: var(--base09) } /* Literal.Number.Integer */
  .mo { color: var(--base09) } /* Literal.Number.Oct */
  .sb { color: var(--base0B) } /* Literal.String.Backtick */
  .sc { color: var(--base0B) } /* Literal.String.Char */
  .sd { color: var(--base0B) } /* Literal.String.Doc */
  .s2 { color: var(--base0B) } /* Literal.String.Double */
  .se { color: var(--base09) } /* Literal.String.Escape */
  .sh { color: var(--base0B) } /* Literal.String.Heredoc */
  .si { color: var(--base0B) } /* Literal.String.Interpol */
  .sx { color: var(--base0B) } /* Literal.String.Other */
  .sr { color: var(--base0C) } /* Literal.String.Regex */
  .s1 { color: var(--base0A) } /* Literal.String.Single */
  .ss { color: var(--base0C) } /* Literal.String.Symbol */
  .bp { color: var(--base0F) } /* Name.Builtin.Pseudo */
  .vc { color: var(--base0F) } /* Name.Variable.Class */
  .vg { color: var(--base0F) } /* Name.Variable.Global */
  .vi { color: var(--base0F) } /* Name.Variable.Instance */
  .il { color: var(--base09) } /* Literal.Number.Integer.Long */
  .gh { color: var(--base04) } /* Generic Heading & Diff Header */
  .gu { color: var(--base03); } /* Generic.Subheading & Diff Unified/Comment? */
  .gd { color: var(--base08); } /* Generic.Deleted & Diff Deleted */
  .gi { color: var(--base0A); } /* Generic.Inserted & Diff Inserted */
}